In [ ]:
# [ ] The `data` list contains information about a company's employees.
# Use the `data` list and an appropriate loop to create a dictionary of employees.
# Use IDs (as keys) and names (as values).
# Ignore the email addresses for now.

# The created dictionary should look like:
# {57394: 'Suresh Datta', 48539: 'Colette Browning', 58302: 'Skye Homsi', 48502: 'Hiroto Yamaguchi', 48291: 'Tobias Ledford', 48293: 'Jin Xu', 23945: 'Joana Dias', 85823: 'Alton Derosa'}

data = [["Suresh Datta", 57394, "suresh@example.com"], ["Colette Browning", 48539, "colette@example.com"], ["Skye Homsi", 58302, "skye@example.com"], ["Hiroto Yamaguchi", 48502, "hiroto@example.com"], ["Tobias Ledford", 48291, "tobias@example.com", "Tamara Babic", 58201, "tamara@example.com"], ["Jin Xu", 48293, "jin@example.com"], ["Joana Dias", 23945, "joana@example.com"], ["Alton Derosa", 85823, "alton@example.com"]]

contdic = {}
for contact in data:
    contdic[contact[1]] = contact[0]
print(contdic)

In [5]:
# [ ] Use the `records` dictionary in a program that asks the user for an ID and prints the name of the associated employee.
# Display an appropriate message if the ID is not found in the dictionary.
records = {57394: 'Suresh Datta', 48539: 'Colette Browning', 58302: 'Skye Homsi', 48502: 'Hiroto Yamaguchi', 48291: 'Tobias Ledford', 48293: 'Jin Xu', 23945: 'Joana Dias', 85823: 'Alton Derosa'}
userinput = int(input("Insert the ID"))
try:
    print ("The name for the id {0} is {1} ".format(userinput,records[userinput]))
except KeyError:
    print("The ID doesnt exist")

Insert the ID48539
The name for the id 48539 is Colette Browning

In [11]:
# [ ] Use the `records` dictionary in a program to ask the user for an ID then delete the employee record associated with the ID
# The program should display an appropriate message if the ID is not found in the dictionary.
records = {57394: 'Suresh Datta', 487539: 'Colette Browning', 58302: 'Skye Homsi', 48502: 'Hiroto Yamaguchi', 48291: 'Tobias Ledford', 48293: 'Jin Xu', 23945: 'Joana Dias', 85823: 'Alton Derosa'}
userinput = int(input("Insert the ID"))
try:
    records.pop(userinput)
    print("record removed")
except KeyError:
    print("The ID doesnt exist")

Insert the ID4444
The ID doesnt exist

In [8]:
print(records)

{57394: 'Suresh Datta', 58302: 'Skye Homsi', 48502: 'Hiroto Yamaguchi', 48291: 'Tobias Ledford', 48293: 'Jin Xu', 23945: 'Joana Dias', 85823: 'Alton Derosa'}

In [13]:
# [ ] The `data` list contains information about a company's employees
# Use the `data` list and an appropriate loop to create a dictionary of
# IDs (as keys): [name, email] (as values)

# The resulting dictionary should look like: 
# {57394: ['Suresh Datta', 'suresh@example.com'], 48539: ['Colette Browning', 'colette@example.com'], 58302: ['Skye Homsi', 'skye@example.com'], 48502: ['Hiroto Yamaguchi', 'hiroto@example.com'], 48291: ['Tobias Ledford', 'tobias@example.com'], 48293: ['Jin Xu', 'jin@example.com'], 23945: ['Joana Dias', 'joana@example.com'], 85823: ['Alton Derosa', 'alton@example.com']}
data = [["Suresh Datta", 57394, "suresh@example.com"], ["Colette Browning", 48539, "colette@example.com"], ["Skye Homsi", 58302, "skye@example.com"], ["Hiroto Yamaguchi", 48502, "hiroto@example.com"], ["Tobias Ledford", 48291, "tobias@example.com", "Tamara Babic", 58201, "tamara@example.com"], ["Jin Xu", 48293, "jin@example.com"], ["Joana Dias", 23945, "joana@example.com"], ["Alton Derosa", 85823, "alton@example.com"]]

thedic = {}
for item in data:
    thedic[item[1]] = [item[0],item[2]]
for key,values in thedic.items():
    print(values)

['Suresh Datta', 'suresh@example.com']
['Colette Browning', 'colette@example.com']
['Skye Homsi', 'skye@example.com']
['Hiroto Yamaguchi', 'hiroto@example.com']
['Tobias Ledford', 'tobias@example.com']
['Jin Xu', 'jin@example.com']
['Joana Dias', 'joana@example.com']
['Alton Derosa', 'alton@example.com']

In [21]:
# [ ] Write a program to display the content of the `records` dictionary as shown here
# Note the IDs are sorted in an ascending order

'''
        Name         |     ID     |        Email        
________________________________________________________
     Joana Dias      |   23945    |    joana@example.com
   Tobias Ledford    |   48291    |   tobias@example.com
       Jin Xu        |   48293    |      jin@example.com
  Hiroto Yamaguchi   |   48502    |   hiroto@example.com
  Colette Browning   |   48539    |  colette@example.com
    Suresh Datta     |   57394    |   suresh@example.com
     Skye Homsi      |   58302    |     skye@example.com
    Alton Derosa     |   85823    |    alton@example.com
'''
records = {57394: ['Suresh Datta', 'suresh@example.com'], 48539: ['Colette Browning', 'colette@example.com'], 58302: ['Skye Homsi', 'skye@example.com'], 48502: ['Hiroto Yamaguchi', 'hiroto@example.com'], 48291: ['Tobias Ledford', 'tobias@example.com'], 48293: ['Jin Xu', 'jin@example.com'], 23945: ['Joana Dias', 'joana@example.com'], 85823: ['Alton Derosa', 'alton@example.com']}

print("Name    |        ID  |        Email")
print ("_____"*10)
for key,value in sorted(records.items()):
    print("{0}     |     {1}  |  {2}".format(value[0],key,value[1]))

Name    |        ID  |        Email
__________________________________________________
Joana Dias     |     23945  |  joana@example.com
Tobias Ledford     |     48291  |  tobias@example.com
Jin Xu     |     48293  |  jin@example.com
Hiroto Yamaguchi     |     48502  |  hiroto@example.com
Colette Browning     |     48539  |  colette@example.com
Suresh Datta     |     57394  |  suresh@example.com
Skye Homsi     |     58302  |  skye@example.com
Alton Derosa     |     85823  |  alton@example.com

In [29]:
# [ ] The company's domain has changed from (example.com) to (example.org)
# Write a program to modify the email addresses in the `records` dictionary to reflect this change
records = {57394: ['Suresh Datta', 'suresh@example.com'], 48539: ['Colette Browning', 'colette@example.com'], 58302: ['Skye Homsi', 'skye@example.com'], 48502: ['Hiroto Yamaguchi', 'hiroto@example.com'], 48291: ['Tobias Ledford', 'tobias@example.com'], 48293: ['Jin Xu', 'jin@example.com'], 23945: ['Joana Dias', 'joana@example.com'], 85823: ['Alton Derosa', 'alton@example.com']}
for item in records.values():
    item[1] = item[1].split('@')[0]+'@example.org'
print(records)

{57394: ['Suresh Datta', 'suresh@example.org'], 48539: ['Colette Browning', 'colette@example.org'], 58302: ['Skye Homsi', 'skye@example.org'], 48502: ['Hiroto Yamaguchi', 'hiroto@example.org'], 48291: ['Tobias Ledford', 'tobias@example.org'], 48293: ['Jin Xu', 'jin@example.org'], 23945: ['Joana Dias', 'joana@example.org'], 85823: ['Alton Derosa', 'alton@example.org']}

In [30]:
# [ ] You want to send a mass email to all company employees, so you need a list of all the email addresses in `records`
# Write a program to extract the email addresses from the `records` dictionary and store them in a list
# The output list should look like:
# ['suresh@example.com', 'colette@example.com', 'skye@example.com', 'hiroto@example.com', 'tobias@example.com', 'jin@example.com', 'joana@example.com', 'alton@example.com']
# Hint: use the `.values()` method
records = {57394: ['Suresh Datta', 'suresh@example.com'], 48539: ['Colette Browning', 'colette@example.com'], 58302: ['Skye Homsi', 'skye@example.com'], 48502: ['Hiroto Yamaguchi', 'hiroto@example.com'], 48291: ['Tobias Ledford', 'tobias@example.com'], 48293: ['Jin Xu', 'jin@example.com'], 23945: ['Joana Dias', 'joana@example.com'], 85823: ['Alton Derosa', 'alton@example.com']}

thebiglist = []
for thelist in records.values():
    thebiglist.append(thelist[1])
print(thebiglist)

['suresh@example.com', 'colette@example.com', 'skye@example.com', 'hiroto@example.com', 'tobias@example.com', 'jin@example.com', 'joana@example.com', 'alton@example.com']

In [33]:
# Write a program that can ONLY update the price of an existing grocery 
# in the `groceries` dictionary.
# The item and updated price should be entered by the user.
# If the user enters a new item, the program should not create 
# a new dictionary item. It should instead display an error message.

groceries = {'Bread':2.26, 'Milk':3.62, 'Chocolate':1.59}

userinput = input("Inser the name of the item you want to update")
if userinput in groceries.keys():
    print("The item exists!")
    input2 = float(input("insert the new price of the item"))
    groceries[userinput] = input2

Inser the name of the item you want to updateChocolate
The item exists!
insert the new price of the item8.9

In [34]:
print(groceries)

{'Bread': 2.26, 'Milk': 3.62, 'Chocolate': 8.9}

In [35]:
# [ ] Write a program to find out the number of employees stored in `records`.
records = {57394: ['Suresh Datta', 'suresh@example.com'], 48539: ['Colette Browning', 'colette@example.com'], 58302: ['Skye Homsi', 'skye@example.com'], 48502: ['Hiroto Yamaguchi', 'hiroto@example.com'], 48291: ['Tobias Ledford', 'tobias@example.com'], 48293: ['Jin Xu', 'jin@example.com'], 23945: ['Joana Dias', 'joana@example.com'], 85823: ['Alton Derosa', 'alton@example.com']}


print(len(records.keys()))

8