# Tuples

A tuple is a data structure similar to lists, it can contain any data type inside. The main difference with lists is that tuples are unmutable, this is that the order of its elements is not changeable and no new items can be appended. 

### Equal tuples contain the same information
T1 == T2
### Identical tuples if the tuples are the same object
T1 is T2

In [ ]:
# Create a tuple that consists of the following variables
x = 5
l = [4.4, 5.3]
s = "something"
t = (9, 0)

tuplex = (x,l,s,t)
print(tuplex)

In [ ]:
# [ ] Change the third element of T to [59, 20.4]
T = ([43.6, 34], [49, 59], [50, 34.6], [39, 49])
T[2][0] = 59
T[2][1] = 34.6
print(T)

In [2]:
# [ ] Write a program to merge the content of T1 and T2 into one tuple T
# Correct output should be T = (5, 4, 3, 9, 2, 12)
# T = ((5, 4, 3), (9, 2, 12)) is an incorrect output

# Hint: Use list to/from tuple conversion

T1 = (5, 4, 3)
T2 = (9, 2, 12)
#The first method works
T3 = T1 + T2
print(T3)

T = list(T1) + list(T2)
T = tuple(T)

(5, 4, 3, 9, 2, 12)

### Slicing and unpacking

In [ ]:
# [ ] Write a program to split the content of T into T1 and T2
# T1 = (5, 4, 3)
# T2 = (9, 2, 12)

T = (5, 4, 3, 9, 2, 12)

T1 = T[:3]   # works like range
T2 = T[3:]

print(T1)
print(T2)

In [3]:
# [ ] Write an expression to unpack `T` into:
# 1) x = 5
# 2) l = [3, 5.3]
# 3) s = 'something
# 4) t = (9, 0)

T = (5, [3, 5.3], 'something', (9, 0))

#TODO: Your code goes here
x = T[0]
l = T[1]
s= T[2]
t = T[3]


print("After unpacking the tuple:", T)
print("x =", x)
print("l =", l)
print("s =", s)
print("t =", t)

After unpacking the tuple: (5, [3, 5.3], 'something', (9, 0))
x = 5
l = [3, 5.3]
s = something
t = (9, 0)

In [20]:
# [ ] Complete the function `current_date` to return today's month, day, and year
# Hint: Use an appropriate function from the datetime module
from datetime import date
def current_date():
    pass
    #TODO return month, day, year
    tuplex = date.today().timetuple()
    theyear = tuplex[0]
    themonth = tuplex[1]
    theday = tuplex[2]
    return themonth,theday,theyear
m, d, y = current_date()
print("Today's date is: {:2d}/{:2d}/{:4d}".format(m, d, y))

Today's date is:  6/16/2018

In [21]:
 tuplex = date.today().timetuple()

In [22]:
tuplex[0:3]

(2018, 6, 16)

In [1]:
# [ ] Write a program to merge the content of T1 and T2 into one tuple T
# Correct output should be T = (5, 4, 3, 9, 2, 12), 
# T = ((5, 4, 3), (9, 2, 12)) is an incorrect output

# You should NOT use lists in your solution
T1 = (5, 4, 3)
T2 = (9, 2, 12)

In [4]:
#ram to prompt the user for a number, then test if the number is contained in T

T = (23, 45, 93, 59, 35, 58, 19, 3)

theuserinput = int(input('insert a number to check'))
if theuserinput in T:
    print("it's conainted")
else:
    print("nope")

insert a number to check69
nope

In [5]:
# Write a function to return the largest element in a tuple T
T = (23, 45, 93, 59, 35, 58, 19, 3)
maxi = 0
for item in T:
    if item > maxi:
        maxi = item
print(maxi)

93

In [12]:
# [ ] Write a program to compute the average of the elements in T

T = (23, 45, 93, 59, 35, 58, 19, 3)
max(T)
print(sum(T)/len(T))

41.875